/*css reset*/
* {
	margin: 0;
	padding: 0;
	line-height: 0;
	font-family: sans-serif;
}

body {
	background-color: #ddd;
	text-align: center;
}

#judul {
	margin-top: 30px;
	font-size: 35px;
}

.container {
	width: 400px;
	margin: 50px auto;
	border: 5px solid #fff;
	overflow: auto;
}

.mainImg {
	cursor: pointer;
}

/* lightbox */

.overlay {
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 99;
	padding: 100px 0;
	transition: .3s;
	position: fixed;
	overflow: hidden;
	text-align: center;
}

.overlay:target {
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	background-color: rgba(0,0,0,0.7);
}

.overlay img {
	max-height: 100%;
}

.overlay:target img {
	animation: zoom .7s ;
}

.overlay .close {
	top: 55px;
	left: 50%;
	color: #fff;
	opacity: .8;
	transition: .3s;
	font-size: 20px;
	line-height: 15px;
	margin-left: 80px;
	padding: 10px 17px;
	border: 0px solid #fff;
	box-shadow: 2px 2px 1px #000;
	position: absolute;
	text-decoration: none;
	font-family: sans-serif;
	background-color: rgba(128,0,0,0.8);
}

.overlay .close:hover {
	opacity: 1;
	background-color: rgba(128,0,0,0.9);
}


/* nav */

.next, .prev {
	top: 25%;
	width: 100px;
	height: 190px;
	margin-left: 20px;
	text-indent: -9999;
	position: absolute;
	background-image: url(img/nextNav.png);
}

.prev {
	background-image: url(img/prevNav.png);
	margin-left: -140px;
}

.thumb {
	width: 100px;
	border: 4px solid #fff;
	box-sizing: border-box;
	float: left;
	transition: .3s;
	filter: grayscale(100%);
}

.thumb:hover {
	opacity: 0.8;
	cursor: pointer;
	filter: grayscale(0);
}

.lightboxImg {
	box-shadow: 5px 5px 5px #000;
}



/* animasi main img */
@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

.fade {
	opacity: 0;
	animation: fadeIn .3s forwards;
}

.active {
	opacity: 1;
	filter: grayscale(0);
}

/* animasi LightBox Right */
@keyframes fadeLbR {
	to {
		opacity: 1;
		margin-left: 0%;
	}
}

.fadeLbR:target .lightboxImg {
	opacity: 0;
	margin-left: 10%;
	animation: fadeLbR .3s forwards;
}

/* animasi LightBox left */
@keyframes fadeLbL {
	to {
		opacity: 1;
		margin-right: 0%;
	}
}

.fadeLbL:target .lightboxImg {
	z-index: 100;
	opacity: 0;
	margin-right: 10%;
	animation: fadeLbL .3s forwards;
}


/* animasi overlay */

/*@keyframes zoom {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}*/